<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.softwareTeam.splitsy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Splitsy">
        <activity android:name=".BankCardAdded" />
        <activity android:name=".PasswordChanged" />
        <activity android:name=".EmailChanged" />
        <activity android:name=".AddNewCard" />
        <activity android:name=".ChangePassword" />
        <activity android:name=".ChangeEmail" />
        <activity android:name=".Settings" />
        <activity android:name=".CheckItems" />
        <activity android:name=".SelectItems" />
        <activity android:name=".CameraPermission" />
        <activity android:name=".ScanYourReceipt" />
        <activity android:name=".BiometricSignIn" />
        <activity android:name=".EmailSent" />
        <activity android:name=".ForgotPassword" />
        <activity android:name=".EnterCardDetails" />
        <activity android:name=".AccountDetails" />
        <activity android:name=".SignUp" />
        <activity android:name=".FilterMenu" />
        <activity android:name=".YourBillCreator" />
        <activity android:name=".ShareCode" />
        <activity android:name=".EnterBillDetails" />
        <activity android:name=".CreateNewBill" />
        <activity android:name=".Your_Account" />
        <activity android:name=".Past_Bills" />
        <activity android:name=".New_Bill" />
        <activity android:name=".Enable_Fingerprint" />
        <activity android:name=".Sign_In">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>